body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.orange-color{
    color:crimson;
}
.felxible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding:2%;
}
.half-width{
    width: 150%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(yellow,red);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 2px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Naimur-Man{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.Exprience-Area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.exprience-item{
    width: 1300px;
    margin-left: 1;
    margin-right: 1;
    padding: 40px;
    border-radius: 10px;
    box-shadow:50px 50px 100px red ;
}
#web-dev-experience{
    border-image: liner-gradient(green, tomato);
    border-left: 7px solid;
   border-image-slice: 1;
}

#full-stack-exprience{
    border-image: liner-gradient(yellow, blue);
    border-left:6px solid;
    border-image-slice:1;
}
fotter p{
    text-align: center;
}
